<h1>About</h1>

	<p><%= $APP[:headline] %> </p>

<h2>App Info</h2>

	Change this data in `config/initializers/riccardo_constants.rb`:

	<pre>
	<% $app.each  do |k,v| %>
	  <b><%= k %></b>: '<%= v %>' 
	<% end %>	
	</pre>